body {
  text-align: center;
}

.box {
  border: 1px solid gray;
  border-top: 0;
  margin: 0 auto;
  width: 20%;
}

p {
  margin: 0;
}

input {
  width: 20%;
}

button {
  margin: 3%
}

#name {
  margin: 3%
}

#log {
  position: absolute; right: 5%; bottom: 5%;
}
